@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.text-box {
    max-width: 80%;
    background-color: #999;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.text-box:hover {
    width: 85%;
}

.text-box h1 {
    margin-bottom: 10px;
}

.text-box p {
    margin-bottom: 0px;
}

@media (max-width: 600px) {
    .text-box {
        background-color: #bbb;
    }
    .text-box h1 {
        font-size: 2.3rem;
    }
    .text-box p {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {
    .text-box {
        background-color: #ddd;
    }
    .text-box h1 {
        font-size: 2.5rem;
    }
    .text-box p {
        font-size: 1.5rem;
    }
}